* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    box-sizing: content-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.txt_link {
    color: var(--Text-color);
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin:  0;
    padding: 0;
}


.swiper-button-prev,
.swiper-button-next {
    color: white;
}

.hide {
    display: none !important;
}

.fl-jc-center {
    display: flex;
    justify-content: center;
}